@import "tailwindcss";

@theme {
  --color-persistec-gold: #C49A45;
  --color-persistec-charcoal: #2D2D2D;
  --color-persistec-light: #F8F9FA;
}

:root {
  --background: #ffffff;
  --foreground: #2D2D2D;
}
